.dash-box {
    background-color: white;
    padding: 40px 30px;
    border-radius: 15px;
    max-width: 650px;
}

.block-dash {
    background-color: var(--color-border-soft);
    border: 1px solid var(--color-border);
    box-shadow: -3px 16px 16px -10px rgba(0,0,0,0.51);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.block-dash p {
    user-select: none;
}

.block-dash:not(:first-child) {
    margin-top: 25px;
}


.image-dash {
    width: 150px;
    max-height: 100px;
    border-radius: 10px;
}

.block-icon-dash{
    position: absolute;
    right: 0;
    top: -30px;
}

.icon-dash{
    width: 30px;
    height: 30px;
    margin: 10px;
}

@media (max-width: 992px) {
    .block-dash p {
        font-size: 13.5px;
        text-align: center;
        font-weight: 700;
    }

    .block-dash {
        justify-content: flex-end;
        align-items: center;
    }
}