.navbar-collapse {
    justify-content: space-between;
}

.navbar-toggler-icon:hover{
    background-image: url(../../../assets/img/hamburger.png);
}

.logo{
    width: 40px;
    height: 40px;
}

.navbar{
    box-shadow: -3px 16px 16px -10px rgba(0,0,0,0.51);
}